# servicenow credentials
SN_USER=
SN_PASS=
SN_URL=

BIGID_ROOT_URL=
BIGID_API_KEY=


BIGID_CLASSIFICATION_GROUP_NAME=


IMPORT_JOB_RDB_DATASOURCE=MSSQL
IMPORT_JOB_RDB_SERVER=MSSQL SERVER 69
IMPORT_JOB_RDB_TYPE=MSSQL
RDB_URL=

IMPORT_JOB_LDC_DATASOURCE=smb first
IMPORT_JOB_LDC=SMB69 LOGICAL DATACENTER
IMPORT_JOB_LDC_TYPE=SMB
IMPORT_JOB_LDC_DNS_DOMAIN=


IMPORT_JOB_SS_DATASOURCE=smb - Sensitive Data
IMPORT_JOB_SS=SMB STORAGE SERVER69
IMPORT_JOB_SS_TYPE=SMB
IMPORT_JOB_SS_IP_ADDRESS=

#yes it has mysql written but you can use it for any other ds that relies on server
EXPORT_MYSQL_INSTANCE=dev69420_mssql2_instance
EXPORT_MYSQL_SERVER=dev69420_mssql2_server 
EXPORT_MYSQL_CI_CLASS=cmdb_ci_db_mssql_instance

#logical data center export 
EXPORT_LDC_DATASOURCE=dev69420_s3_second_instance
EXPORT_LDC_DATACENTER=dev69420_s3_second_logical_dc
EXPORT_LDC_CI_CLASS=cmdb_ci_aws_s3_endpoint


EXPORT_STORAGESERVER_DATASOURCE=dev69420_nfs4_instance
EXPORT_STORAGESERVER_SERVER=dev69420_nfs4_server
EXPORT_STORAGE_TYPE=nfs
EXPORT_FILESHARE_KEYWORD=nfskeyword


